## Analisar dados de dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

1. Carregue os conjunto de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois Dataframes diferentes e combine-os em um único dataframe

In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('./datasets/gasolina_2000+.csv', index_col=0)
df2 = pd.read_csv('./datasets/gasolina_2010+.csv', index_col=0)

C:\Users\danil\AppData\Local\Temp\ipykernel_17476\2185496502.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('./datasets/gasolina_2010+.csv', index_col=0)

In [6]:
df = pd.concat([df1, df2])

In [9]:
df1.shape

(42638, 18)

In [10]:
df2.shape

(78185, 18)

In [13]:
df.shape

(120823, 18)

2. Investigue as colunas e entenda o conjunto de dados usando head() e info()

In [14]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo

In [24]:
print(df["DATA INICIAL"][2])
type(df["DATA INICIAL"][2])

2004-05-09

str

4. As colunas DATA INICIAL E DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas as colunas para Timestamp / Datetime.

In [30]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])

In [31]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [35]:
df[["DATA INICIAL", "DATA FINAL"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATA INICIAL  120823 non-null  datetime64[ns]
 1   DATA FINAL    120823 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 6.8 MB

5. Crie uma nova coluna para representar o Ano e o mês (aaaa-mm), utilizando a DATA FINAL como referência.

In [38]:
df["ANO-MES"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

In [40]:
df["ANO-MES"].head()

0    2004-05
1    2004-05
2    2004-05
3    2004-05
4    2004-05
Name: ANO-MES, dtype: object